@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string statusColor = "";
    string buttonStatusColor = "";
    string checkStatus = "";
}

<br />
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminId</th>
            <td>@item.AdminName</td>
            <td>@item.Role.RoleName</td>
            <td>
                @switch (item.AdminStatus)
                {
                    case true:
                        statusColor = "badge badge-success";
                        buttonStatusColor = "btn btn-danger";
                        break;
                    case false:
                        statusColor = "badge badge-danger";
                        buttonStatusColor = "btn btn-success";
                        break;
                }
                <span class="@statusColor">@item.AdminStatus</span>
            </td>
            <td>
                <a href="/Authorization/DeleteAdmin/@item.AdminId" class="@buttonStatusColor btn-sm">
                    @if (item.AdminStatus == false)
                    {

                        checkStatus = "Aktif Yap";
                    }
                    else
                    {

                        checkStatus = "Pasif Yap";
                    }
                    @checkStatus
                </a>
            </td>
            <td><a href="/Authorization/UpdateAdmin/@item.AdminId" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }


</table>
<a href="/Authorization/AddAdmin" class="btn btn-info">Yeni Admin Tanımla</a>
